<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Trip</title>
</head>
<body>
    <h2>Create Trip</h2>
    <form action="/trips" method="POST">
        title: <input type="text" name="TripTitle" /><br/>
        Price: <input type="text" name="Price" /><br/>
        Date:  <input type="text" name="Date" /><br/>
        Time:  <input type="text" name="Time" /><br/>
        Description: <input type="text" name="Description" /><br/>
        ImageUrl:    <input type="text" name="ImageUrl" /><br/>
        <br/>
        <input type="submit" name="" value="Submit Changes"/>
    </form>

</body>
</html> 